node_modules/
mobile/node_modules/
admin/node_modules/
tmp_v0_template/node_modules/
tmp_v0_template/.next/

dist/
admin/dist/

.env
mobile/.env
admin/.env

uploads/
.expo/
.DS_Store
*.log

# Fichiers parasites souvent créés par erreur sous Windows
/del
/docker
/npm
/rmdir
